<div class="container">
     <div class="row"  ng-if="showPosts">
        
            <div class="col-lg-8 col-lg-offset-2" >
                <div class="box" "col-lg-12">
                    <hr><!--horizontal line-->
                    <ul class="media-list">
                        <li class="media" ng-repeat="post in posts | orderBy:'-createdAt'">
                            <div class="col-lg-3">
                                <p1>{{post.date}}</p1>
                            </div>
                            <h2 class="intro-text text-center"><a>{{post.name}}</a></h2>
                            
                            <div class="media-left media-middle">
                                <a ui-sref="app.postdetails({id: post.id})">
                                <img class="media-object img-thumbnail"
                                 ng-src={{post.image}} alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <p>{{post.description}}</p>
                            </div>
                           <div class="button btn-group col-lg-offset-9">
                                  <button type="button" class="btn btn-danger btn-sm" ui-sref="app.postdetails({id: post._id})">READ / ADD Comment</button>
                                    <button class="btn btn-info btn-sm" ng-click="deleteFavorite(post._id)"><i class="fa fa-remove"></i></span> </button>
                            </div>
                            <!--horizontal line-->
                            <hr>
                        </li>
                     </ul>
                    </div>
            </div>
        </div>
    </div>